%ul{:id => "message-#{message.id}"}
    %span.message-content
        #{message.content}
    %br
    %span.timestamp
        #{message.created_at.change(:offset => "+0800").strftime("%I:%M%p")}
        %br
        #{message.created_at.change(:offset => "+0800").strftime("%B %d, %G")}